{% load static %}
{% load custom_tags %}

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top text-dark">
    <img src="{% static 'img/logo_checklist.svg' %}"  width="32" height="32" class="d-inline-block align-top" alt="" loading="lazy">
    <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
    <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Checklist
          </a>
          <div class="dropdown-menu rounded-0">
            <a class="dropdown-item" href="\checklist">Pesquisar LVs preenchidas</a>
            <a class="dropdown-item" href="\checklist">Preencher nova LV</a>
          </div>
    </div>
  

    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Relatórios
      </a>
    </div>

    
    <div class="ml-auto row">
    </div>

    {% if user.is_superuser %}
    <a class="nav-link" href="/admin/">Admin <span class="sr-only">(current)</span></a>
    {% endif %}


    {% if user.is_authenticated %}
    {{ user.get_username|upper }}

    {% if user.is_superuser %}
      (Admin)
    {% else %}
      {% if request.user|has_group:"sao-analista" %} 
        (Analista)
      {% else %} 
      {% endif %}
    {% endif %}
    &nbsp;

    
    
    <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    {% else %}
    <a href="{% url 'login'%}?next={{request.path}}">Login</a>
    {% endif %} 

    
  </nav>
  <hr class="my-0">