{% load static %}
{% load custom_tags %}

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top text-dark">
    <img src="{% static 'img/logo_checklist.svg' %}"  width="32" height="32" class="d-inline-block align-top" alt="" loading="lazy">
    <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
    <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Checklist
          </a>
          <div class="dropdown-menu rounded-0">
            <a class="dropdown-item" href="{% url 'checklist_pesquisa' %}">Pesquisar LVs preenchidas</a>
            <a class="dropdown-item" href="{% url 'checklist_nova_selecao' %}">Preencher nova LV</a>
          </div>
    </div>
  

    <a class="nav-link" href="{% url 'checklist_relatorio' %}">Relatório <span class="sr-only">(current)</span></a>
    
    <div class="ml-auto row">
    </div>


<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
  {% for notification in  user.notifications.unread %}
    <div>
      Message from <b>{{ notification.actor }}</b>
      <button class="dropdown-item" type="button">{{ notification.description }}</button>			
    </div>
    <div class="dropdown-divider"></div>
  {% endfor %}
</div>


<!-- Nav Item - Alerts -->
<div class="nav-item dropdown no-arrow mx-1">
  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bell fa-fw"></i>
    <!-- Counter - Alerts -->
    <span class="badge badge-danger badge-counter">3+</span>
  </a>
  <!-- Dropdown - Alerts -->
  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
    <h6 class="dropdown-header">
      Alerts Center
    </h6>
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="mr-3">
        <div class="icon-circle bg-primary">
          <i class="fas fa-file-alt text-white"></i>
        </div>
      </div>
      <div>
        <div class="small text-gray-500">December 12, 2019</div>
        <span class="font-weight-bold">A new monthly report is ready to download!</span>
      </div>
    </a>
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="mr-3">
        <div class="icon-circle bg-success">
          <i class="fas fa-donate text-white"></i>
        </div>
      </div>
      <div>
        <div class="small text-gray-500">December 7, 2019</div>
        $290.29 has been deposited into your account!
      </div>
    </a>
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="mr-3">
        <div class="icon-circle bg-warning">
          <i class="fas fa-exclamation-triangle text-white"></i>
        </div>
      </div>
      <div>
        <div class="small text-gray-500">December 2, 2019</div>
        Spending Alert: We've noticed unusually high spending for your account.
      </div>
    </a>
    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
  </div>
</div>



<div class="topbar-divider d-none d-sm-block"></div>

{% if user.is_authenticated %}
<!-- Nav Item - User Information -->
<div class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ user.get_username|upper }}
    {% if user.is_superuser %}
      (Admin)
    {% else %}
      {% if request.user|has_group:"sao-analista" %} 
        (Analista)
      {% else %} 
      {% endif %}
    {% endif %}
    &nbsp;
  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    <a class="dropdown-item" href="/admin/">
      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
      Admin
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
      Logout
    </a>
  </div>
</div>
{% else %}
<a href="{% url 'login'%}?next={{request.path}}">Login</a>
{% endif %} 
</div>




    



    
    


    
  </nav>
  <hr class="my-0">