{% load static %}
{% load custom_tags %}

<style>
.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
  }
.navbar-xs { min-height:45px; height: 45px; background-color:#f8f9faff;}
.navbar-xs .navbar-brand{ padding: 0px 12px;line-height: 28px; }
.navbar-xs .navbar-nav > li > a {  padding-left: 12px; padding-top: 8px; padding-right: 12px; padding-bottom: 0px; font-size: 12px; line-height: 28px; color:#014871 !important; }
</style>

<nav class="navbar navbar-xs sticky-top">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  style="padding: 0px !important; margin: 0px !important;">
      <ul class="nav navbar-nav" style="padding: 0px !important; margin: 0px !important;">
        <li style="padding-top: 6px; padding-left: 12px;">
          <img src="{% static 'img/logo.svg' %}"  width="32" height="32"  class="d-inline-block align-top" alt="" loading="lazy">
        </li>
        <li>
          <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manutenção <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="\saem">Estratégia</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="\explorer">SQL-Explorer</a></li>
            <li><a class="dropdown-item" href="\explorer\new">Nova Query</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        {% if user.is_superuser %}
        <li>
          <a class="nav-link" href="/admin/">Admin <span class="sr-only" style="padding-right: 0px !important; padding-left: 0px !important;">(current)</span></a>
        </li>
        {% endif %}
    
        {% if user.is_authenticated %}
        <li><a href="#" style="padding-right: 0px !important; padding-left: 0px !important;">{{ user.get_username|upper }}</a></li>
        
    
        {% if user.is_superuser %}
          <li><a href="#" style="padding-right: 0px !important; padding-left: 5px !important;">(Admin)</a></li>
        {% else %}
          {% if request.user|has_group:"sao-analista" %} 
          <li><a href="#" style="padding-right: 0px !important; padding-left: 0px !important;">(Analista)</a></li>
          {% else %} 
          {% endif %}
        {% endif %}
        &nbsp;
        <li>
          <a href="{% url 'logout'%}?next={{request.path}}" style="padding-right: 20px !important;">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login'%}?next={{request.path}}" style="padding-right: 20px !important;">Login</a>
        </li>
        {% endif %} 

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>