<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <span id='titulo-confirmacao'>Confirmar exclusão</span>
          </div>
          <div class="modal-body">
              <span id='body-confirmacao'>Tem certeza que deseja excluir?</span>
          </div>
          <div class="modal-footer">
              <button id="modal-confirm-btn-cancel" type="button" class="btn btn-sm btn-saem btn-secondary" data-dismiss="modal">Cancel</button>
              <button id="modal-confirm-btn" class="btn btn-sm btn-saem btn-danger btn-ok">Confirmar</button>
          </div>
      </div>
  </div>
</div>