<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}


{% block content %}


<div class="jumbotron text-center m-5">
  <h1>Esqueceu sua senha?</h1>
  <p>Entre com seu email e clique no botão abaixo para receber um email com um link para definir sua senha.</p>
  <hr class="my-4">
  <form method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-auto">    
        {{ form.as_p }}
      </div>
      <div class="col-auto">
        <button class="btn btn-danger" type="submit">Gerar Link</button>
      </div>
    </div>
  </form>
</div>



  
  


{% endblock %}