{% extends "base.html" %}

{% block title %}<title>Nova senha</title>{% endblock %}

{% load static %}



{% block content %}
    {% if validlink %}
    <div class="jumbotron text-center m-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Digite e confirme a senha.</h1>
                <form action="" method="post">
                {% csrf_token %}
                    <div class="col-12 form-group" style="text-align: center;">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">Digite a senha</label><br>
                        {{ form.new_password1 }}</td>
                    </div>
                    <div class="col-12 form-group" style="text-align: center;">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a senha</label><br>
                        {{ form.new_password2 }}
                    </div>
                    <div style="text-align: center;">
                        <input class="btn btn-primary" type="submit" value="Atualizar"/>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
        
    {% else %}
    <div class="jumbotron text-center m-5">
        <h1>Link invalido</h1>
        <p>
        Realizar o procedimento para reset novamente e solicitar o link para o EPIM.
        </p>
        <hr class="my-4">
    </div>
    {% endif %}

{% endblock %}