


h1,
h2,
h3 {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
    padding-left: 5px;
    margin-left: 10px;
}

p {
    font-weight: 200;
    margin: 0;
    padding: 5px;
    margin-left: 10px !important;
    font-size: 1.15rem;
    padding-right: 10px;
}

.Cards {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    margin: 0 auto;
    width: 755px;
    position: relative;
    font-family: Oswald !important;
}

.Card {
    border: 3px;
    border-radius: 5px;
    overflow: hidden;
    border-color: teal;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 8px !important;
    border: 1px solid #cccccc;
}

.Header {
    width: 100%;
}

.Footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
    width: 98%;
    max-width: 98%;
    font-size: 1rem;
    color: rgba(58, 58, 58, 0.796);
    text-align: center;
    margin: 0 auto;
    font-family: Oswald !important;
}

.Card .Title {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    background-color: #014871;
    color: white;
    font-size: 1.2rem;
}

.Card .Content {
    flex-grow: 1;
    background-color: #fff;
    color: #000;
    font-size: .9rem;
}

.45ae471117fe48989a101c1b7e1c0e52 {
    float: left;
}

.headerImage {
    padding-left: 100px;
    padding-bottom: 10px;
}

.textTitle {
    display: flex;
    align-items: flex;
    justify-content: space-around;
    width: 50%;
    float: left;
    padding-top: 3px;
}

.listBtn {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.listBtn .Btn {
    background-color: #fff;
    color: #000;
    flex-grow: 1;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 5px;
    text-align: left;
}

.Btn:hover {
    background-color: #dfdfdf;
}

.Btn:hover:after {
    background-color: #fff !important;
}


[short] {
    grid-row: span 1;
    background-color: #fff;
}

[tall] {
    grid-row: span 2;
    background-color: #fff;
}

a {
    text-decoration: none !important;
}