{% for modelo in page_obj %}
<tr>
  <td style="font-size: x-small;">{{ modelo.id }}</td>
  <td style="font-size: x-small;">{{ modelo.modelo_fk }}</td>
  <td style="font-size: x-small;">{{ modelo.observacao }}</td>
  <td style="font-size: x-small;">{{ modelo.status }}</td>
  <td style="font-size: x-small;">{{ modelo.criadopor }}</td>
  <td style="font-size: x-small;">{{ modelo.criadoem }}</td>
  <td style="font-size: x-small;">{{ modelo.modificadopor }}</td>
  <td style="font-size: x-small;">{{ modelo.modificadoem }}</td>

  <td class="acoes" style="text-align: center;">
    <a type="" class="m-0 p-1" href="">
        <i class="fas fa-eye"></i>
    </a>
    <a type="" class="m-0 p-1" href="">
      <i class="fas fa-trash-alt"></i>
    </a>
  </td>
</tr>
{% empty %}
<tr>
<td colspan="10" class="text-center bg-warning">Tabela vazia</td>
</tr>
{% endfor %}