{% for checklist in page_obj %}
<tr>
  <td style="font-size: x-small;">{{ checklist.id }}</td>
  <td style="font-size: x-small;">{{ checklist.modelo_fk }}</td>
  <td style="font-size: x-small;">{{ checklist.nome }}</td>
  <td style="font-size: x-small;">{{ checklist.observacao }}</td>
  <td style="font-size: x-small;">{{ checklist.status }}</td>
  <td style="font-size: x-small;">{{ checklist.criadopor|default_if_none:"" }}</td>
  <td style="font-size: x-small;">{{ checklist.criadoem|date:"d/m/Y H:m" }}</td>
  <td style="font-size: x-small;">{{ checklist.modificadopor|default_if_none:"" }}</td>
  <td style="font-size: x-small;">{{ checklist.modificadoem|date:"d/m/Y H:m" }}</td>

  <td class="acoes" style="text-align: center;">
    <a type="" class="m-0 p-1" href="{% url 'checklist' checklist.id %}">
        <i class="fas fa-eye"></i> Selecionar
    </a>

  </td>
</tr>
{% empty %}
<tr>
<td colspan="10" class="text-center bg-warning">Tabela vazia</td>
</tr>
{% endfor %}