{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block styles %}

{% endblock %}

{% block title %}
<title>Auditoria Ordens</title>
{% endblock %}



{% block content %}
<br>
<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-8">
            
        </div>
    </div>

    <div class="row form-group">
        <div class="col-6">
            <div class="row">
                <label class="col-auto" for="nome">Título</label>
                <div class="col">
                    <input id="nome" 
                        class="form-control form-control-sm" 
                        type="text" 
                        placeholder="Digite o título da LV" 
                        v-model="lv.nome"
                        :disabled="isDisabled">
                <span class="badge badge-secondary">[[ lv.status ]]</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="float-right">
                <button class="btn btn-sm btn-secondary mx-1" v-on:click="goBack">Voltar</a>

                <button v-if="(!create && !edit) && (grupo_acesso == 'Executante' && lv.status == 'Em elaboração')" 
                id="enviar-aprovacao-lv" 
                class="btn btn-sm btn-success float-right mx-1" 
                v-on:click="acaoLV($event)">
                Env. Aprov.
                </button>
                <button v-if="!create && !edit && (grupo_acesso == 'Aprovador' && lv.status == 'Aguardando Aprovador')" 
                        id="aprovar-lv" class="btn btn-sm btn-success float-right mx-1" v-on:click="acaoLV($event)">Aprovar</button>
                <button v-if="!create && !edit && (grupo_acesso == 'Aprovador' && lv.status == 'Aguardando Aprovador')" 
                        id="retornar-lv" class="btn btn-sm btn-warning float-right mx-1" v-on:click="acaoLV($event)">Retornar Exec.</button>

                <button v-if="(!create && !edit) && (   (grupo_acesso == 'Aprovador' && lv.status == 'Aguardando Aprovador') || (grupo_acesso == 'Executante' && lv.status == 'Em elaboração')  )" 
                        id="edit-lv" class="btn btn-sm btn-primary float-right mx-1" v-on:click="editLV($event)">Editar</button>
                <button v-if="create || edit && (   (grupo_acesso == 'Aprovador' && lv.status == 'Aguardando Aprovador') || (grupo_acesso == 'Executante' && lv.status == 'Em elaboração')  )" 
                        id="save-lv" class="btn btn-sm btn-primary float-right mx-1" v-on:click="saveLV">Salvar</button>
                <button v-if="!create && edit && (   (grupo_acesso == 'Aprovador' && lv.status == 'Aguardando Aprovador') || (grupo_acesso == 'Executante' && lv.status == 'Em elaboração')  )"
                        id="cancel-lv" class="btn btn-sm btn-primary float-right mx-1" v-on:click="editLV($event)">Cancelar</button>
                <button v-if="!create && !edit && (   (grupo_acesso == 'Aprovador' && lv.status == 'Aguardando Aprovador') || (grupo_acesso == 'Executante' && lv.status == 'Em elaboração')  )"
                        id="delete-lv" class="btn btn-sm btn-primary float-right mx-1" v-on:click="deleteLV">Apagar</button>
            </div>
        </div>

        <div class="row">

        </div>
        
    </div>
    <div class="row">
        <div class="col-12" v-for="group, groupName in lv_itens_grouped">
            <div class="card my-2">
                <div class="card-header">
                    [[ groupName ]]
                </div>
                <div class="card-body">
                    
                    <div class='card-text' v-for="item in group">
                        <label class="row">

                            <div v-if="item.itemtipo === 'CHECKBOX'">
                                
                                <input class="mx-2" 
                                type="checkbox" 
                                v-bind:key="item.id" 
                                v-model="lv_selected_itens[item.id]"
                                :disabled="isDisabled || (item.editavel===false && edit===true)"> 

                                [[ item.nome ]] 

                              </div>
                              <div v-else-if="item.itemtipo === 'TEXT'">
                                
                                [[ item.nome ]] 

                                <input class="mx-2" 
                                type="text" 
                                v-bind:key="item.id" 
                                v-model="lv_selected_itens[item.id]"
                                :disabled="isDisabled || (item.editavel===false && edit===true)">

                              </div>

                              <div class="mx-2" v-else-if="item.itemtipo === 'COMBOBOX'">
                                
                                [[ item.nome ]] 
                                
                                <select  
                                v-bind:key="item.id"
                                v-model="lv_selected_itens[item.id]"
                                :disabled="isDisabled || (item.editavel===false && edit===true)">
                                    <option v-for="option in item.valor_choice.split(';')" v-bind:value="option" v-text="option"></option>
                                  </select>
                              </div>

                              <div v-else>
                                Tipo de controle selecionado no modelo inválido
                              </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-12">
        <div class="form-group">
            <label for="observacao">Observação</label>
            <textarea class="form-control" 
                      id="observacao" 
                      v-model="lv.observacao" 
                      placeholder="Observações para a LV" 
                      rows="3"
                      :disabled="isDisabledObs"></textarea>
        </div>  
    </div>
    </div>

</div>
 

<!-- Alerta -->
<div class="alert" id="tile-alert" style="display:none;">
    <button type="button" class="close" data-hide="alert">&times;</button>
    <strong><span id="alert-strong-text">Alerta</span></strong><span id="alert-text">Thats all folks</span>
</div>

{% endblock %}

{% block footer %}

{% endblock footer %}

{% block js %}

{{ modelo_pk|json_script:"modelo_pk" }}
{{ lv_pk|json_script:"lv_pk" }}
{{ grupo_acesso|json_script:"grupo_acesso" }}

<script>
    const modelo_pk = JSON.parse(document.getElementById('modelo_pk').textContent);
    const lv_pk = JSON.parse(document.getElementById('lv_pk').textContent);
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="{% static 'js/moment.js/2.29.1/moment-with-locales.min.js' %}"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script src="{% static 'checklist/checklist_form.js' %}"></script>

{% endblock js %} 