{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sao/sao.css' %}">

{% endblock %}

{% block title %}
<title>Auditoria Ordens</title>
{% endblock %}



{% block content %}
<br>
<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-sm btn-secondary btn-sao mx-1" href="{% url 'checklist_nova_selecao'%}">Voltar</a>
                <button v-if="create || edit" id="save-lv" class="btn btn-sm btn-primary btn-sao float-right mx-1" v-on:click="saveLV">Salvar</button>
                <button v-if="!create && !edit" id="edit-lv" class="btn btn-sm btn-primary btn-sao float-right mx-1" v-on:click="editLV($event)">Editar</button>
                <button v-if="!create && edit" id="cancel-lv" class="btn btn-sm btn-primary btn-sao float-right mx-1" v-on:click="editLV($event)">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="nome">Título</label>
            <input id="nome" 
                   class="form-control form-control-sm" 
                   type="text" 
                   placeholder="Digite o título da LV" 
                   v-model="lv.nome"
                   :disabled="isDisabled" >
        </div>
            <div class="col-12" v-for="group, groupName in lv_itens_grouped">
                <div class="card my-2">
                    <div class="card-header">
                        [[ groupName ]]
                    </div>
                    <div class="card-body">
                        
                        <div class='card-text' v-for="item in group">
                            <label class="row">
                                <input class="mx-2" 
                                       type="checkbox" 
                                       v-bind:key="item.id" 
                                       v-model="lv_selected_itens[item.id]"
                                       :disabled="isDisabled"> 
                                [[ item.nome ]] 
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-12">
            <div class="form-group">
                <label for="observacao">Observação</label>
                <textarea class="form-control" 
                          id="observacao" 
                          v-model="lv.observacao" 
                          placeholder="Observações para a LV" 
                          rows="3"
                          :disabled="isDisabled"></textarea>
            </div>  
        </div>

    </div>

</div>
 

<!-- Alerta -->
<div class="alert" id="tile-alert" style="display:none;">
    <button type="button" class="close" data-hide="alert">&times;</button>
    <strong><span id="alert-strong-text">Alerta</span></strong><span id="alert-text">Thats all folks</span>
</div>

{% endblock %}

{% block footer %}

{% endblock footer %}

{% block js %}

{{ modelo_pk|json_script:"modelo_pk" }}
{{ lv_pk|json_script:"lv_pk" }}
<script>
    const modelo_pk = JSON.parse(document.getElementById('modelo_pk').textContent);
    const lv_pk = JSON.parse(document.getElementById('lv_pk').textContent);
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="{% static 'js/moment.js/2.29.1/moment-with-locales.min.js' %}"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script src="{% static 'checklist/checklist_form.js' %}"></script>

{% endblock js %} -->