{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sao/sao.css' %}">
{% endblock %}

{% block title %}
<title>Auditoria Ordens</title>
{% endblock %}

{% block content %}

<div class="conteiner-fluid">
  <div style="overflow-y:scroll; max-height:calc(100vh - 50px) !important; min-height:calc(100vh - 50px) !important;">
    <form method="get" class='pt-2 mx-2'>
      <div class="row mx-3">
        <div class="col-9">
          <div class="row">
            <div class="form-group mr-2">
              <label for="ordem" class="form-label p-0 ">Ordem</label>
              {% render_field filter.form.ordem class="form-control form-control-sm" %}
            </div>
            <div class="form-group mr-2">
              <label for="uep" class="form-label">UEP</label>
              {% render_field filter.form.uep class="form-control form-control-sm" %}
            </div>
            <div class="form-group mr-2">
              <label for="resultado" class="form-label">Resultado</label>
              {% render_field filter.form.resultado class="form-control form-control-sm" %}
            </div>
            <div class="form-group mr-2">
              <label for="start_date" class="form-label">Início Enc.</label>
              {% render_field filter.form.start_date type="date" class="form-control form-control-sm" %}
            </div>
            <div class="form-group mr-2">
              <label for="end_date" class="form-label">Fim Enc.</label>
              {% render_field filter.form.end_date type="date" class="form-control form-control-sm" %}
            </div>
            <div class="form-group mr-2">
              <label class="form-label">Período Enc.</label>
              {% render_field filter.form.date_range class="form-control form-control-sm" %}
            </div>
            <div class="form-group mr-2">
              <label class="form-label">Mod. após análise</label>
              {% render_field filter.form.modificadaaposanalise class="form-control form-control-sm" %}
            </div>
            <div class="form-group mr-2">
              <label class="form-label">Status</label>
              {% render_field filter.form.status class="form-control form-control-sm" %}
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row float-right">
            <div class="form-group mr-2 pt-4">
              <button type="submit" class="btn btn-sm btn-primary btn-sao">
                <i class="fas fa-sliders-h"></i>&nbsp; Filtrar
              </button>
            </div>
            <div class="form-group mr-2 pt-4">
              <a type="submit" class="btn btn-sm btn-secondary btn-sao" href="/sao">
                <i class="fas fa-eraser"></i> Limpar
              </a>
            </div>
            <div class="form-group mr-2 pt-4">
              <a type="submit" target="_self" href="{% url 'sao_proxima_ordem' %}" class="btn btn-sm btn-success btn-sao"><i class="fas fa-fire-extinguisher"></i> Estou com sorte</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row pt-2 mx-1">
      <div class="col">
      <table class="table table-striped table-hover table-sm">
        <thead class="bg-secondary text-light">
          <tr>
            <th scope="col" style="text-align: left;">UEP</th>
            <th scope="col" style="text-align: left;">Ordem</th>
            <th scope="col" style="text-align: left;">Descrição</th>
            <th scope="col" style="text-align: left;">Data Fim Real</th>
            <th scope="col" style="text-align: left;">Data Análise</th>
            <th scope="col" style="text-align: left;">Status</th>
            <th scope="col" style="text-align: left;">Resultado</th>
            <th scope="col" style="text-align: left;">Obs. Analista</th>
            <th scope="col" style="text-align: left;">Mod. Ordem</th>
            <th scope="col" style="text-align: center;">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% include "_sao_list.html" %}
        </tbody>
      </table>
      {% include "_paginator.html" %}
      </div>
    </div>

  </div>

</div>
{% endblock %}

