{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'sao/sao.css' %}">
{% endblock %}

{% block title %}
<title>Auditoria Ordens</title>
{% endblock %}

{% block content %}


{% csrf_token %}

{{ form.non_field_errors }}
{{ form.source.errors }}
{{ form.source }}

<div class="conteiner-fluid">
    <div style="overflow-x:hidden; overflow-y:scroll; max-height:calc(100vh - 50px) !important; min-height:calc(100vh - 50px) !important;">

<form class="container-fluid mx-0 px-0" id="sao-form">
    <div class="row justify-content-center pt-2 px-4">
    <p class="col-3 pl-3">Etapa:  
        {{form.status.errors}}
        {{form.status|add_classes:'text-center border-0 btn-warning'}}
    </p>
    <p class="col-4">
        <a target="_blank" href="https://erpweb.petrobras.com.br/sap/bc/gui/sap/its/webgui?sap-system-login-basic_auth=X&sap-client=400&sap-language=P&sap-theme=sap_corbu&~transaction=*IW33%20CAUFVD-AUFNR={{form.ordem.value}}" class="btn btn-sm btn-info btn-sao">Abrir Ordem</a>
        <a target="_blank" href="https://erpweb.petrobras.com.br/sap/bc/gui/sap/its/webgui?sap-system-login-basic_auth=X&sap-client=400&sap-language=P&sap-theme=sap_corbu&~transaction=IW43%20CORUF-AUFNR={{form.ordem.value}}" class="btn btn-sm btn-info btn-sao">Confirmação</a>
        <a target="_blank" href="https://erpweb.petrobras.com.br/sap/bc/gui/sap/its/webgui?sap-system-login-basic_auth=X&sap-client=400&sap-language=P&sap-theme=sap_corbu&~transaction=IA07%20RC271-PLNNR={{data.grupo_roteiro}};RC271-PLNAL={{data.numerador}}" class="btn btn-sm btn-info btn-sao">Grupo Roteiro</a>
    </p>
    <div class="col-5 text-right">
        <a type="button" href = "{% url 'sao_inicio' %}" target="_self" class="btn btn-sm btn-secondary btn-sao"><i class="fas fa-arrow-left"></i> Voltar</a>
            {% if user.is_superuser or request.user|has_group:"sao-analista" %}
                <button type="button" data-url="{% url 'sao_ordem_edit' auditoria_ordem.ordem %}" name="editar" class="btn btn-sm btn-primary p-1 js-edit-sao btn-sao"><i class="far fa-edit"></i> Editar</button>
                <a type="button" style="display: none;" name="cancelar" href = "\sao\ordem\{{ auditoria_ordem.ordem }}\cancel\" target="_self" class="btn btn-sm btn-danger p-1 btn-sao"><i class="far fa-edit"></i> Cancelar</a>
                <button type="button" data-url="{% url 'sao_ordem_save' auditoria_ordem.ordem %}" style="display: none;" name="salvar" class="btn btn-sm btn-primary p-1 js-save-sao btn-sao"><i class="far fa-save"></i> Salvar</button>
                <a type="submit" id="btn_estou_com_sorte" target="_self" href="{% url 'sao_proxima_ordem' %}" class="btn btn-sm btn-success p-1 btn-sao"><i class="fas fa-fire-extinguisher"></i> Estou com sorte</a>
            {% endif %}
        

    </div>
    </div>
    
    <div class="row-fluid d-flex align-items-center p-0 m-0">
      
          <div class=" card-body col_ord d-flex">
            
            <div id="form_ordem" class="d-flex flex-column col-6 p-0 m-0">
                <div id="msgWrap" class="w-100"> <!--style="overflow-y:scroll"-->
                <!--inicio form-->
                <div class="p-0">
                    <div class="form-row align-items-center">

                        <div class="col-sm-1">
                            <div class="form-label">UEP</div>
                            {{form.uep.errors}}
                            {{form.uep|add_classes:'form-control form-control-sm'}}
                        </div>

                        <div class="col-sm-2">
                            <div class="form-label">Ordem</div>
                            {{form.ordem.errors}}
                            {{form.ordem|add_classes:'form-control form-control-sm'}}
                        </div>

                        <div class="col-5">
                            <div class="form-label">Descrição</div>
                            {{form.descricaoordem.errors}}
                            {{form.descricaoordem|add_classes:'form-control form-control-sm'}}
                        </div>

                        <div class="col-2">
                            <div class="form-label">Resultado</div>
                            {{form.resultado.errors}}
                            {{form.resultado|add_classes:'form-control form-control-sm'}}
                        </div>
                    
                        <div class="col-2">
                            <div class="form-label">Data Fim Real</div>
                            {{form.datafimreal.errors}}
                            {{form.datafimreal|add_classes:'form-control form-control-sm'}}
                        </div>

                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-4">
                            <div class="form-label">Executado por</div>
                            {{form.executadopor.errors}}
                            {{form.executadopor|add_classes:'form-control form-control-sm'}}
                        </div>

                        <div class="col-4">
                            <div class="form-label">Encerrado por</div>
                            {{form.encerradotecnicamentepor.errors}}
                            {{form.encerradotecnicamentepor|add_classes:'form-control form-control-sm'}}
                        </div>

                        <div class="col-4">
                            <div class="form-label">Confirmado por</div>
                            {{form.confirmadopor.errors}}
                            {{form.confirmadopor|add_classes:'form-control form-control-sm'}}
                        </div>

                        {% if user.is_superuser or request.user|has_group:"sao-analista" %}
                        <div class="col-12 mt-3">
                            <div class="form-label p-2" title="Este campo é exibido apenas para o perfil Analista">
                                Observação EPIM (uso interno)
                                <button type="button" tipo="observacaolocal" class="mb-1 btn btn-sm btn-sao btn-primary float-right js-adicionar-obs" style="display: none;"><i class="fas fa-plus fa-sm"></i> Adicionar</button>
                            </div>
                            {{form.observacaolocal.errors}}
                            {{form.observacaolocal|add_classes:'form-control form-control-sm'}}
                            
                        </div>
                        {% endif %}

                        <div class="col-12 mt-3">
                            <div class="form-label p-2">
                                Observação Analista
                                <button type="button" tipo="observacaoanalista" class="mb-1 btn btn-sm btn-sao btn-primary float-right js-adicionar-obs" style="display: none;"><i class="fas fa-plus fa-sm"></i> Adicionar</button>
                            </div>
                            {{form.observacaoanalista.errors}}
                            {{form.observacaoanalista|add_classes:'form-control form-control-sm'}}
    
                        </div>
                        <div class="col-12 mt-3" style="display: none;">
                            <div class="form-label">
                                Observação Op
                                <button type="button" tipo="observacaoop" class="mb-1 btn btn-sm btn-primary btn-sao float-right js-adicionar-obs" style="display: none;"><i class="fas fa-plus fa-sm"></i> Adicionar</button>
                            </div>
                            {{form.observacaoop.errors}}
                            {{form.observacaoop|add_classes:'form-control form-control-sm'}}
                        </div>
                    </div>
                    <div>
                        <hr>
                        Dados Preventivos ANP
                        <table>
                            <tr><th></th><th style="text-align:center">N. Testes</th><th style="text-align:center">N. Falhas</th></tr>
                            <tr>
                                <td class="pr-2">  
                                    <select class="form-control form-control-sm" readonly="" id="equipamento" name="equipamento" disabled="">
                                        <option selected="selected">{{ data.equipamento }}</option>
                                        <option value="na">NA</option>
                                        <option value="detector-fogo">Detector de Fogo</option>
                                        <option value="detector-gas">Detector de Gás</option>
                                        <option value="bdv">BDV</option>
                                        <!--<option value="adv">ADV</option>-->
                                        <option value="adv-teste-seco">ADV - Teste Seco</option>
                                        <option value="adv-teste-molhado">ADV - Teste Molhado</option>
                                        <option value="sdv">SDV</option>
                                        <option value="partida-ub">Partida UB</option>
                                    </select>
                                </td>
                                <td class="pr-2">
                                    <input style="text-align:center" class="form-control form-control-sm" id="n_testes_val" value="{{ data.n_testes_val }}" name="n_testes_val" disabled="">
                                </td>
                                <td class="pr-2">
                                    <input style="text-align:center" class="form-control form-control-sm" id="n_falhas_val" value="{{ data.n_falhas_val }}" name="n_falhas_val" disabled="">
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <table>
                            <tr><th>Lista de anexos</th></tr>
                            <tr><td>ND</td></tr>
                        </table>
                    </div>
                </div>
                <!--fim form-->
                </div>
            </div>
      
            <div id="form_lv_ordem" class="d-flex flex-column col-6 pr-0 pl-2 m-0">
                <div id="col-dir" class="w-100" style="overflow-y:hidden;">
                <!--inicio lv-->
                <div class="accordion p-0 m-0" id="acc_lv">
                    <div class="m-0 p-0 card rounded-0">
                        <div class="card-header m-0 p-0" id="heading_planejamento">
                            <h2 class="m-0 p-0">
                                <button type="button" class="btn btn-link n_underline" data-toggle="collapse" data-target="#planejamento"><i class="fa fa-plus"></i> Planejamento</button>									
                            </h2>
                        </div>
                        <div id="planejamento" class="collapse show" aria-labelledby="heading_planejamento" data-parent="#acc_lv">
                            <div class="card-body">
                                

                                {% for r in plan %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="{{r.id}}" name="lv_{{r.id}}" disabled
                                        {% if r.item_sel == 1 %} checked {% endif %}
                                        >
                                        <a class="form-check-label" title="{{r.orientacao}}" for="n_inc">{{r.item}}</a>
                                    </div>
                                {% endfor %}

                            </div>                                
                        </div>
                    </div>
                    <div class="card m-0 p-0 rounded-0">
                        <div class="card-header m-0 p-0" id="heading_execucao">
                            <h2 class="m-0 p-0">
                                <button type="button" class="btn btn-link collapsed n_underline" data-toggle="collapse" data-target="#execucao"><i class="fa fa-plus"></i> Execução</button>
                            </h2>
                        </div>
                        <div id="execucao" class="collapse show" aria-labelledby="heading_execucao" data-parent="#acc_lv">
                            <div class="card-body">
                                {% for r in exec %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="{{r.id}}" name="lv_{{r.id}}" disabled
                                    {% if r.item_sel == 1 %} checked {% endif %}
                                    >
                                    <a class="form-check-label" title="{{r.orientacao}}" for="n_inc">{{r.item}}</a>
                                </div>
                            {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card m-0 p-0 rounded-0">
                        <div class="card-header m-0 p-0" id="heading_controle">
                            <h2 class="m-0 p-0">
                                <button type="button" class="btn btn-link collapsed n_underline" data-toggle="collapse" data-target="#controle"><i class="fa fa-plus"></i> Controle</button>                     
                            </h2>
                        </div>
                        <div id="controle" class="collapse show" aria-labelledby="heading_controle" data-parent="#acc_lv">
                            <div class="card-body">
                                <p>
                                    {% for r in cont %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="{{r.id}}" name="lv_{{r.id}}" disabled
                                        {% if r.item_sel == 1 %} checked {% endif %}
                                        >
                                        <a class="form-check-label" title="{{r.orientacao}}" for="n_inc">{{r.item}}</a>
                                    </div>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card m-0 p-0 rounded-0">
                        <div class="card-header m-0 p-0" id="heading_encerramento">
                            <h2 class="m-0 p-0">
                                <button type="button" class="btn btn-link collapsed n_underline" data-toggle="collapse" data-target="#encerramento"><i class="fa fa-plus"></i> Encerramento</button>                     
                            </h2>
                        </div>
                        <div id="encerramento" class="collapse show" aria-labelledby="heading_encerramento" data-parent="#acc_lv">
                            <div class="card-body">
                                <p>
                                    {% for r in ence %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="{{r.id}}"" name="lv_{{r.id}}" disabled
                                        {% if r.item_sel == 1 %} checked {% endif %}
                                        >
                                        <a class="form-check-label" title="{{r.orientacao}}" for="n_inc">{{r.item}}</a>
                                    </div>
                                {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                <!--fim lv-->
                </div>
            </div>
          </div>
    </div>
</form>

</div>
</div>

<div class="modal fade" id="modal-alert">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title"><span id="alerta-titulo"></span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <span id="alerta-texto"></span>           
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-sao btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div style='display:none;' id='user'>{{ user.get_username|upper }}</div>


<!-- Modal -->
<div class="modal fade" id="obs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="obs-modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" id="obs-modal-text" cols="80" rows="5"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-sao btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-sm btn-sao btn-primary js-adicionar-inc">Incluir</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
{% endblock footer %}

{% block js %}
<script src="{% static 'js/moment.js/2.29.1/moment-with-locales.min.js' %}"></script>
<script src="{% static 'sao/sao_ordem.js' %}"></script>
{% endblock js %}