{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">

    <link rel="stylesheet" href="{% static 'css/bootstrap/4.6.0/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-select/1.13.18/bootstrap-select.min.css' %}">
    {% block styles %}{% endblock styles %}
    {% block title %}{% endblock title %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>

<body>
    <div class="overlay" style="display: none;
    background: white url({% static 'img/loading.gif' %}) no-repeat center center;"></div>
    {% include "_partials/header.html" %}
        
    {% block content %}
    {% endblock content %}

    {% include "_partials/footer.html" %}
    {% include "_partials/alert.html" %}
    {% include "_partials/modal_confirm.html" %}


    <script src="{% static 'js/jquery/3.6.0/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery/1.11.4/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/popper/1.16.1/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/4.6.0/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validator/0.11.9/validator.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select/1.13.18/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'epim/js_epim-bs.js' %}"></script>
    <script src="{% static 'epim/dark-mode.js' %}"></script>


    {% block js %}
    {% endblock js%}
</body>

</html>