.nav-tabs {
  border-bottom: 0px solid transparent;
}
.nav-tabs .nav-link {
  border: 0px solid transparent;
}

a.active.nav-link {
  color: black !important;
}

a.nav-menu {
  color: gray !important;
}

a.nav-selecao {
  color: whitesmoke !important;
}

a.nav-operacao {
  color: black !important;
}

a.nav-local {
  color: black !important;
}

.list-group-mine .list-group-item {
  border-top: 0px solid hsla(0, 0%, 65%, 0.925);
}

.bg-secondary{
  background-color: rgba(230, 230, 230, 1) !important;
}

.table-s{
  font-size: 10px;
}


.list-group-item{
  font-size: 10px !important;
}

.dataTables_filter input { 
  font-size: 10px !important; 
  width: 100px !important;
  padding: 2px !important;
  margin-left: 2px !important;
}

div.dataTables_paginate span>a {
  font-size: 10px !important;
  padding: 1px !important;
  margin: 1px !important;
}

a.paginate_active {
    display: inline-block;
    background-color: #608995;
    cursor: pointer;
    *cursor: hand;
}

a.paginate_button_disabled {
  color: #3d6672;
}

a.paginate_button{
  padding: 1px !important;
  margin: 1px !important;
}

select {
  font-size: 10px !important;
  padding: 4px !important;
  margin: 1px !important;
}

html, body {
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  padding-right: 0 !important;
  overflow: hidden;
}

/* modal */
.modal {
  text-align: center;
  padding: 0!important;
}


.modal-open{
  padding-right: 0 !important;
}

.modal-dialog {
  text-align: left;
}


tr td,th{
  padding: 0 !important;
  margin: 0 !important;
}

table th{
  text-align: center;
}

.textarea-ltm {
  font-family: 'Courier New', Courier, monospace;
  border: 0;
  border-left: 1px; 
  border-left-style:dashed;
  border-right: 1px; 
  border-right-style:dashed;
  border-color: dimgray;
  font-size: 12px;
}

.textarea-obs-ltm{
  border: 0;
  border-left: 1px; 
  border-left-style:dashed;
  border-right: 1px; 
  border-right-style:dashed;
  border-color: dimgray;
  font-size: 12px;
}

.nav-pills .nav-link.active {
  background-color: #d9d9d9 !important;
  color: black !important;
}

.nav-link-ltm {
  background-color: #011f31;
  color: whitesmoke !important;
  border-radius: 0 !important;
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
}

.btn-acao-table {
  font-size: 8px;
  padding:2px;
  width: 18px; 
  height: 18px;
  border-radius: 2px !important;
  justify-content: center;
  align-items: center;
}

.move-left{
  width: auto;
  box-shadow: none;
}


.btn-saem{
  border-radius: 3px !important; 
  box-shadow: rgba(0, 0, 0, .4) 0px 0px 8px !important;
}


.bootstrap-select .btn {
  background-color: #6c757d;
  border-style: solid;
  border-left-color: #012d46;
  border-top: none;
  border-bottom: none;
  border-right: none;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;
}